// .body {
//     position: relative;
// }
.head-block {
    display: flex;
    .date-block {
        width: 380px;
        justify-content: flex-end;
        .date-title {
            font-size: 25px;
        }
        .buttons {
            justify-content: flex-end;
            width: fit-content;
            margin-top: 3px;
            form {
                display: inline;
                // margin: 0 2px 0 0;
            }
        }
    }
    input[type="text"] {
        font-size: 18px;
        padding: 3px 10px;
        margin-top: 3px;
    }
    .filter-block {
        width: 300px;
        display: flex;
        label {
            font-weight: bold;
            font-size: 16px;
        }
        form {
            margin: 0;
        }
    }
    .status-filter-title {
        font-weight: bold;
    }
    .status-filter {
        display: flex;
        .status-filter-buttons {
            padding: 2px 10px;
            list-style: none;
            margin-right: 10px;
            border-radius: 5px;
            outline: none;
            width: 120px;
            height: 40px;
            align-items: center;
            border: 1px solid grey;
            label {
                margin-left: 5px;
            }
        }
    }
}

.calendar-block {
    display: grid;
    gap: 2px;
    margin-top: 20px;
    .linehead {
        grid-row: 1 /2;
        font-weight: bold;
        font-size: 13px;
    }
    .task {
        border-radius: 5px;
        max-width: 100%;
        padding: 2px;
        filter: drop-shadow(2px 2px 2px rgb(116, 116, 116));
        margin-left: -1px;
        font-size: 12px;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        .title {
            font-weight: bold;
            .dealname {
                // font-size: 16px;
                background-color: rgb(228, 228, 228);
                padding: 1px 5px;
                border-radius: 3px;
                margin-right: 5px;
            }
        }
        .taskname {
            font-size: 13px;
            margin-left: 4px;
            color: rgb(58, 58, 58);
        }
        .task-buttons button {
            border-radius: 10px;
            border: 1px solid grey;
            font-size: 12px;
            padding: 2px 6px;
        }
    }
    .hour-line {
        opacity: 0.7;
        border-right: 1px solid #d0d0d0;
        border-top: 1px solid #d0d0d0;
        z-index: 0;
        .time-tag {
            color: grey;
            margin-top: 5px;
        }
    }
}

.task-status-temp {
    background-color: #eb34cc;
}

.task-status-wait {
    background-color: #a6cc69;
}

.task-status-repair {
    background-color: #f3ea81;
}

.task-status-finished {
    background-color: #e46d6d;
}

.footer-block {
    height: 200px;
}

#modal {
    width: 100%;
    height: 100%;
    background: #d8d8d8ad;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .modal-container {
        position: relative;
        width: 800px;
        height: 400px;
        background-color: white;
        position: relative;
        width: 800px;
        height: 500px;
        background-color: white;
        border-radius: 5px;
        filter: drop-shadow(3px 2px 4px black);
        padding: 20px;
        .modal-close-button {
            top: 10px;
            position: absolute;
            right: 10px;
            background: none;
            border: 1px solid grey;
            color: grey;
            padding: 2px 5px;
            border-radius: 12px;
        }
    }
}

.erase-all-button {
    margin: 30px 0 0 0;
}