// .body {
//     position: relative;
// }
.date-title {
    font-size: 25px;
}

.calendar-avatar {
    position: absolute;
    right: 10px;
    top: 10px;
}

.half-opacity {
    * {
        color: rgb(206, 206, 206) !important;
        background-color: rgb(248, 248, 248) !important;
    }
    background-color: rgb(248, 248, 248) !important;
    // z-index: 0 !important;
    pointer-events: none;
    filter: drop-shadow(1px 1px 2px rgb(179, 179, 179)) !important;
}

.head-block {
    display: flex;
    .date-block {
        form {
            margin: 0;
        }
        width: 380px;
        justify-content: flex-end;
        .buttons {
            justify-content: flex-end;
            width: fit-content;
            margin-top: 3px;
            form {
                display: inline;
                // margin: 0 2px 0 0;
            }
        }
    }
    input[type="text"] {
        font-size: 18px;
        padding: 3px 10px;
        margin-top: 3px;
    }
    .filter-block {
        width: 300px;
        display: flex;
        label {
            font-weight: bold;
            font-size: 16px;
        }
        form {
            margin: 0;
        }
    }
    .status-filter-title {
        font-weight: bold;
    }
    .status-filter {
        display: flex;
        .status-filter-buttons {
            padding: 2px 10px;
            list-style: none;
            margin-right: 10px;
            border-radius: 5px;
            outline: none;
            width: 120px;
            height: 40px;
            align-items: center;
            border: 1px solid grey;
            label {
                margin-left: 5px;
            }
        }
    }
}

.calendar-block {
    display: grid;
    gap: 2px;
    margin-top: 20px;
    .linehead {
        grid-row: 1 /2;
        font-weight: bold;
        font-size: 13px;
    }
    .task {
        border-radius: 5px;
        max-width: 100%;
        padding: 4px 8px;
        filter: drop-shadow(2px 2px 2px rgb(116, 116, 116));
        margin-left: -1px;
        font-size: 12px;
        overflow: hidden;
        z-index: 1;
        // position: relative;
        // cursor: pointer;
        .title {
            font-weight: bold;
            // .dealname {
            //     // font-size: 16px;
            //     background-color: rgb(228, 228, 228);
            //     padding: 1px 5px;
            //     border-radius: 3px;
            //     margin-right: 5px;
            // }
        }
        .taskname {
            font-size: 13px;
            margin-left: 4px;
            color: rgb(58, 58, 58);
        }
        .task-buttons button {
            border-radius: 10px;
            border: 1px solid grey;
            font-size: 12px;
            padding: 2px 6px;
        }
    }
    .task-checkbox {
        z-index: 2;
        margin-top: -44px;
    }
    .hour-line {
        opacity: 0.7;
        border-right: 1px solid #d0d0d0;
        border-top: 1px solid #d0d0d0;
        z-index: 0;
        .time-tag {
            color: grey;
            margin-top: 5px;
        }
    }
}

.footer-block {
    height: 200px;
}

.erase-all-button {
    margin: 30px 0 0 0;
}