.input-blocks {
    display: flex;
    flex-wrap: wrap;
}

input {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin: 5px 5px 0 0;
    background: fbfbfb;
}

input::placeholder {
    opacity: 0.3;
}

label {
    display: block;
    font-size: 22px;
    margin: 10px auto 5px;
    font-weight: bold;
    text-align: start;
}

.input-group,
.json-input-group {
    padding: 20px;
    background: white;
    margin: 10px;
    width: 600px;
    // border: 1px solid #bfbfbf;
    background-color: #efefef;
}

// .wide-input-block {
//     width: 100%;
// }

.param-input-help {
    display: flex;
    input {
        cursor: pointer;
    }
    div {
        text-align: right;
        button {
            position: relative;
            top: -32px;
            right: 11px;
            // border: none;
            border: 1px solid grey;
            background: transparent;
            border-radius: 10px;
            padding-bottom: 2px;
        }
    }
}

.help {
    button {
        margin: 2px 4px;
        font-size: 12px;
        border-radius: 10px;
        border: 1px solid grey;
        padding: 2px 9px;
        outline: none;
    }
    .active-help-button {
        background-color: rgb(162, 236, 233);
    }
}

p.help {
    // margin: 10px auto 0 auto;
    width: 580px;
}

p.help::before {
    content: "* ";
}

input.max-size {
    width: 600px;
}

input.middle-size {
    width: 300px;
}

input.mini-size {
    width: 200px;
}

a, .button,
input[type="submit"] {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid grey;
    min-height: 50px;
    font-size: inherit;
}

a {
    background: white;
    color: black;
    border: 1px solid grey;
    height: 40px;
}

a.remove {
    color: red;
}

input[type="submit"] {
    background: green;
    color: white;
    border: 1px solid green;
    height: 42px;
    font-size: 14px;
}

.buttons {
    margin-top: 30px;
    display: flex;
}

.alert {
    color: red;
    font-size: 16px;
    margin-top: 0px;
}

.master-buttons {
    display: flex;
    justify-content: space-between;
    .all-masters-buttons {
        width: 350px;
        button {
            padding: 2px 7px;
            border-radius: 10px;
            font-size: 11px;
            border: 1px solid grey;
            background: rgb(170, 196, 170);
            margin: 2px 5px;
            cursor: pointer;
            outline: none;
        }
        .half-opacity {
            opacity: 0.5;
            background: initial;
        }
    }
}

.custom-task-number {
    display: flex;
    justify-content: flex-end;

    span {
        border: 1px solid grey;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 1.2;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    }
}

.empty-alert {
    background-color: #ff000047;
}