form {
    margin: 0;
    display: inline;
}

table {
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(219, 219, 219);
}


.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}


.dashboard {
    display: flex;

    ul {
        padding: 0;
        margin-right: 30px;
    }

    li {
        border: 1px solid grey;
        width: 500px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        margin-bottom: 5px;
        font-size: small;
        span {
            margin: 0 5px;
        }
    }
}
