@import url(https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap);
* {
  font-family: "Bellota Text", cursive;
}

.hide {
  display: none;
}

a.to-main-page {
  text-decoration: none;
  border: 1px solid grey;
  background: white;
  border-radius: 20px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mini-arrows {
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 24px;
  line-height: 1;
}

.inactive {
  pointer-events: none;
  opacity: 0.3;
}

.lineBlock .line-number {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.lineBlock .line-number div {
  display: flex;
}
.lineBlock .line-number p {
  margin: 0;
}
.lineBlock .line-number form {
  margin: 0;
}
.lineBlock .line {
  display: flex;
}
.lineBlock .line .template {
  position: relative;
  width: 300px;
  height: 330px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  margin: 5px 10px 20px;
  flex-shrink: 0;
  padding: 15px;
}
.lineBlock .line .template form.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.lineBlock .line .template form.plus input[type=submit] {
  font-size: 25px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.lineBlock .line .template .buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.lineBlock .line .template .buttons form {
  margin: 0 5px;
}
.lineBlock .line .template .buttons form.remove input[type=submit] {
  color: red;
}
.lineBlock .line .template .buttons p {
  line-height: 1.5;
  margin-right: 5px;
  opacity: 0.6;
}
.lineBlock .line .template .edit-buttons {
  right: 20px;
}
.lineBlock .line .template .arrows-buttons {
  left: 20px;
}
.lineBlock .line .template .arrows-buttons input[type=submit] {
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 24px;
  line-height: 1;
}
.lineBlock .line .template p {
  margin: 0;
}
.lineBlock .line .template p.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: initial;
}
.lineBlock .line .template p.description {
  font-size: 14px;
  word-wrap: break-word;
}
.lineBlock .line .template p.description span {
  font-weight: bold;
  color: initial;
}

button.newLine {
  margin-left: 10px;
}
