.date-title {
  font-size: 25px;
}

.calendar-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}

.half-opacity {
  background-color: #f8f8f8 !important;
  pointer-events: none;
  filter: drop-shadow(1px 1px 2px #b3b3b3) !important;
}
.half-opacity * {
  color: #cecece !important;
  background-color: #f8f8f8 !important;
}

.calendar-container {
  margin-top: 90px;
}

.head-block {
  display: flex;
  background: white;
  position: fixed;
  top: 0px;
  z-index: 9999;
}
.head-block .date-block {
  width: 380px;
  justify-content: flex-end;
}
.head-block .date-block form {
  margin: 0;
}
.head-block .date-block .buttons {
  justify-content: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3px;
}
.head-block .date-block .buttons form {
  display: inline;
}
.head-block input[type=text] {
  font-size: 18px;
  padding: 3px 10px;
  margin-top: 3px;
}
.head-block .filter-block {
  width: 300px;
  display: flex;
}
.head-block .filter-block label {
  font-weight: bold;
  font-size: 16px;
}
.head-block .filter-block form {
  margin: 0;
}
.head-block .status-filter-title {
  font-weight: bold;
}
.head-block .status-filter {
  display: flex;
}
.head-block .status-filter .status-filter-buttons {
  padding: 2px 10px;
  list-style: none;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  width: 120px;
  height: 40px;
  align-items: center;
  border: 1px solid grey;
}
.head-block .status-filter .status-filter-buttons label {
  margin-left: 5px;
}

.calendar-block {
  display: grid;
  gap: 2px;
  margin-top: 20px;
}
.calendar-block .linehead {
  grid-row: 1/2;
  font-weight: bold;
  font-size: 13px;
}
.calendar-block .task {
  border-radius: 5px;
  max-width: 100%;
  padding: 4px 8px;
  filter: drop-shadow(2px 2px 2px #747474);
  margin-left: -1px;
  font-size: 12px;
  overflow: hidden;
  z-index: 2;
}
.calendar-block .task .title {
  font-weight: bold;
}
.calendar-block .task .taskname {
  font-size: 13px;
  margin-left: 4px;
  color: #3a3a3a;
}
.calendar-block .task .task-buttons button {
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 12px;
  padding: 2px 6px;
}
.calendar-block .task-checkbox {
  z-index: 2;
  margin-top: -44px;
}
.calendar-block .hour-line {
  opacity: 0.7;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  z-index: 1;
}
.calendar-block .hour-line .time-tag {
  color: grey;
  margin-top: 5px;
}

.footer-block {
  height: 200px;
}

.erase-all-button {
  margin: 30px 0 0 0;
}
