@import url(https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap);
@charset "UTF-8";
* {
  font-family: "Bellota Text", cursive;
}

.hide {
  display: none !important;
}

a.to-main-page {
  /* border: 1px solid grey; */
  /* background: white; */
  /* border-radius: 20px; */
  text-decoration: none;
  /* display: inline-flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 5px 7px; */
  font-size: 38px;
  margin: 0 20px 0 10;
  /* height: 21px; */
  /* width: 18px; */
  font-weight: 100;
}

a.to-main-page:after {
  content: "⌂";
}

.task-status-temp {
  background-color: #77CFEB;
}

.task-status-wait {
  background-color: #AAEB77;
}

.task-status-repair {
  background-color: #EBD877;
}

.task-status-finished {
  background-color: #BFBFBF;
}

.task-status-dedline {
  background-color: #EB7777;
}

.dealname {
  background-color: #eaeaea;
  padding: 1px 5px;
  border-radius: 3px;
  margin-right: 5px;
}
