.container .date {
  margin: 25px 10px 10px;
  font-size: 20px;
}
.container .task-elem {
  width: 500px;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 5px;
  list-style: none;
}
.container .task-elem .flex-line {
  display: flex;
}
.container .task-elem .stuck-icon {
  margin-left: 10px;
  background: #f5f53d;
  /* padding: 1px 9px; */
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 19px;
  height: 19px;
  justify-content: center;
}
.container .task-elem .start {
  position: absolute;
  right: 57px;
  top: 10px;
}
.container .task-elem .deal {
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 2px 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
}
.container .task-elem .name {
  font-weight: bold;
  margin-left: 10px;
}
.container .task-elem .task-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}
.container .task-elem .stuck-message {
  font-size: 13px;
}
