form {
  margin: 0;
  display: inline;
}

table {
  text-align: left;
}

table,
th,
td {
  border: 1px solid #dbdbdb;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.dashboard {
  display: flex;
}
.dashboard ul {
  padding: 0;
  margin-right: 30px;
}
.dashboard li {
  border: 1px solid grey;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 5px;
  font-size: small;
}
.dashboard li span {
  margin: 0 5px;
}

.block-right-button {
  position: relative;
}
.block-right-button .right-button {
  position: absolute;
  right: 10px;
}
